.article-wrapper {
    &-image {
        margin-top: 40px;
        width: 640px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &-title {
        margin-top: 40px;
        h3 {
            color: #000;
        }
    }
    &-content {
        margin-top: 30px;
        margin-bottom: 90px;
        p {
            margin-bottom: 10px;
        }
    }
}
