.carousel {
    height: 500px;
    .carousel-inner {
        height: 100%;
        .carousel-item {
            height: 100%;
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
