.login {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
        width: 100%;
    }
    .card {
        border: none;
        .card-body {
            .image-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                img {
                    max-width: 300px;
                }
            }
            form {
                max-width: 460px;
                margin: auto;
            }
        }
    }
    .login-btn {
        min-width: 150px;
    }
}
