.send-password-reset-link {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
        width: 100%;
    }
    .card {
        border: none;
        .card-body {
            form {
                border: 1px solid #ced4da;
                border-radius: 5px;
                padding: 30px 40px;
                max-width: 520px;
                margin: auto;
            }
        }
    }
}
